.header {
  background-image: url(../images/background_header.svg);
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}

.logo {
  margin: 30px 0 80px 30px;
}

.nav {
  display: flex;
}

.nav__links {
  display: flex;
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px 80px 0 0;
}

.nav__link {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s linear;
}

.nav__link:link,
.nav__link:visited {
  color: #000;
}

.nav__link:active {
  color: #2f80ed;
}
.nav__link:hover {
  color: #2f80ed;
}

.nav__link:first-of-type {
  margin-left: none;
}

.header__title {
  max-width: 729px;
  margin: 0 0 23px 80px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.header__span-accent {
  display: block;
  font-family: Noto, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin-left: 80px;
  font-family: Noto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  max-width: 646px;
}

.header__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 80px;
  margin-bottom: 40px;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__hours {
  align-self: flex-end;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__paragraph {
  margin: 0;
}

.header__address {
  align-self: flex-end;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
