.menu {
  background-image: url(../images/background_menu.svg);
  background-color: #0a2750;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 100px 0;
}

.menu__title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 780px;
  margin: 0 auto;
  text-align: center;
}

.menu__subtile {
  font-family: Noto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
  margin: 24px auto 100px;
  text-align: center;
}

.menu__cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 100px;
  justify-content: center;
}
